:root {
  --white: #ffffff;
  --gray: #c8c8c8;
  --blue: #00a6ff;
  --green: #00d084;
  --pink: #ff4b77;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ol {
  list-style: none;
}

label {
  cursor: pointer;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

body {
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  margin: 10px;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.addr{
  font-size: 1.5rem;
  text-align: center;
}



.switches {
  max-width: 500px;
  width: 95%;
  margin: 50px auto 0;
  border-radius: 5px;
  color: var(--white);
  background: var(--blue);
}

.switches li {
  position: relative;
  counter-increment: switchCounter;
}

.switches li:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

.switches li::before {
  content: counter(switchCounter);
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--pink);
}

.switches label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.switches span:last-child {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
  margin-right: 35px;
}

.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}

.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
  background-size: 12px 12px;
}

.switches [type="checkbox"]:checked + label span:last-child {
  background: var(--green);
}

.switches [type="checkbox"]:checked + label span:last-child::before {
  transform: translateX(24px);
}

.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  /*right: auto;*/
  left: 8px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
  background-size: 14px 14px;
}

@media screen and (max-width: 600px) {
  .switches li::before {
    display: none;
  }
}

  .switches li::before {
    display: none;
  }

/* Add the following CSS to move the delete button to the right of the switch */
.switches label {
  position: relative;
}

.switches .delete-button {
  position: absolute;
  right: 0;
  margin-right: 12px;
  margin-top: -40px;
  background-image: url(https://img.papamica.com/icon/delete.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  width: 25px;
  height: 25px;
}

.image-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 6px;
  margin-top: -49px;
}
.image-button img {
  height: 23px;
}

.saveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 36px;
  width: 200px;
  border: none;
  background: #7b7b7b;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
}

.lable {
  line-height: 20px;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

.saveButton:hover {
  background:var(--blue);
}